:host {
  display: block;
  margin: 1.5rem;
  
  /* Blue Grey palette */
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);

  --md-sys-color-primary-light: #006782;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #bbe9ff;
  --md-sys-color-on-primary-container-light: #001f29;
  --md-sys-color-secondary-light: #4c616b;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cfe6f2;
  --md-sys-color-on-secondary-container-light: #081e27;
  --md-sys-color-tertiary-light: #006782;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bbe9ff;
  --md-sys-color-on-tertiary-container-light: #001f29;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #1258b2;
  --md-sys-color-background-light: #fbfcfe;
  --md-sys-color-on-background-light: #191c1e;
  --md-sys-color-surface-light: #fbfcfe;
  --md-sys-color-on-surface-light: #191c1e;
  --md-sys-color-surface-variant-light: #dce4e9;
  --md-sys-color-on-surface-variant-light: #40484c;
  --md-sys-color-outline-light: #70787d;
  --md-sys-color-inverse-on-surface-light: #eff1f3;
  --md-sys-color-inverse-surface-light: #2e3132;
  --md-sys-color-inverse-primary-light: #61d4ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #0082a2;
  --md-sys-color-outline-variant-light: #c0c8cc;
  --md-sys-color-scrim-light: #000000;
}

.app-content {
  display: flex;
  flex-direction: column;
}
