:host {
  display: block;
  align-self: center;
}

.detail-heading {
  margin-left: 0.5rem;
}

.horizontal-box {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  border: 1px solid var(--md-sys-color-surface-variant-light);
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 12px;
}

.input-form {
  --_wl-editor_gap: var(--wl-gap, 0rem);
  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  width: 400px;
}

.input-form .form-item {
  margin-bottom: 1.8rem;
  height: 56px;
}

.input-form .form-heading {
  margin-bottom: 1.4rem;
}

.input-form h3 {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.input-form .pacient-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.input-form label {
  padding-right: 0.5rem;
}

.input-form md-outlined-select::part(menu) {
  --md-menu-container-color: var(--md-sys-color-inverse-on-surface-light);
}

.button {
  --md-filled-tonal-button-container-shape: 10px;
  --md-outlined-button-container-shape: 10px
}

.input-form .alight-right {
  align-self: flex-end;
}

.input-form .alight-left {
  align-self: flex-start;
}

.input-form .save-button {
  margin-left: 0.5rem;
}

/* delete dialog */
.dialog {
  --md-dialog-container-shape: 10px;
  --md-dialog-container-color:var(--md-sys-color-inverse-on-surface-light);
}

/* loading */
.loading {
  margin-top: -2px;
  margin-right: 10px;
  margin-left: 10px;
}

/* response card */
.response-card {
  display: flex;
  align-items: center;
  border: 1px solid var(--md-sys-color-surface-variant-light);
  border-radius: 12px;
  padding: 1rem;
  margin-top: 0rem;
  max-width: 840px;
}

.response-card .icon {
  margin-right: 0.5rem;
}

.response-card .positive{
  color: var(--md-sys-color-primary-light);
}

.response-card .negative {
  color: var(--md-sys-color-error-light);
}
