:host {
  display: block;
 
}

.horizontal-box {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  border: 1px solid #d1d1d1;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 12px;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.vertical-box label {
  padding-right: 0.5rem;
}

.vertical-box h3{
  margin-bottom: 1rem;
  margin-top: 0rem;
}
.vertical-box .pacient-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.vertical-box .button {
  --md-filled-tonal-button-container-shape: 10px;
  --md-outlined-button-container-shape: 10px
}

.vertical-box .save-cancel {
  align-self: flex-end;
}

.vertical-box .save-cancel .save-button {
  margin-left: 0.5rem;
}


 /* forms */
.input-form {
  --_wl-editor_gap: var(--wl-gap, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  width: 400px;
  margin-bottom: 1.5rem;
}

.input-form .input-size{
  height: 56px;
}

.input-form md-outlined-select::part(menu) {
  --md-menu-container-color: #eff1f3;
}





