:host {
  display: block;
  width: 100%;
}

/* List header */

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.list-header .add-button {
  --md-filled-tonal-button-container-shape: 10px;
}

.list-header .title {
  margin-left: 0.5rem;
}


/* List */
.patient-item p{
  margin: 0;
  padding: 0;
}

.pn-item p {
  margin: 0;
  padding: 0;
}

